@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* overflow-x:hidden; */
}
button{
    cursor: pointer;
    outline: none;
}
img{
    max-width: 100%;
}

.mobile-container{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}
nav{
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    font-family: 'Dancing Script', cursive;
    font-size: 1.6rem;
    font-weight: 600;
}

.searchBox{
    display: flex;
    align-items: center;
    

}
.searchBox input{
    padding: 0.4rem;
    border-radius: 4px;
    border: none;
    background-color: #eee;
}

#searchBtn{
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: gray;
    margin-left: 0.2rem;
}

/* header  */
header{

}
.fav-container{
    /* padding: 1rem; */
    background-color: #f2f4f8;
    display: flex;
    overflow: auto;
    width: 100%;
}

.fav-container img{
    height: 70px !important;
    width: 70px !important;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    
}
.fav-item{
    padding: 1rem;
    /* margin: 0 1rem; */
    text-align: center;
   max-width: 100px;
   text-align: center;
   cursor: pointer;
   position: relative;
}

.fav-item .small{
    font-size: 0.8rem !important;
}

.meal{
    padding: 1rem;
    /* margin-bottom: 1rem; */
    
}

.meal-header{
    position: relative;
}
.meal-header img{
    height: 300px;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.meal-header span{
    position: absolute;
    top: 2rem;
    left: 0rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: white;
    padding: 0.5rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.46);
}

.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0;
}

.meal-body i{
    font-size: 1.3rem;
}
.fav-btn{
    background: transparent;
    border: none;
}
.fav-btn.active > i{
    color: red;
}

.popup{
    position: fixed;
    bottom: 1rem ;
    left: 0.5rem;
    padding: 1rem;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    visibility: hidden;
}

.popup.show{
    visibility: visible;
}

.popup h4{
    font-weight: 400;
}

.mobile-container h2{
    padding: 1rem;
    font-size: 1.4rem;
}


/* .meal-container a{
    color: black;
    text-decoration: none;
} */

.meal-header h4{
    color: black;
}


.del-btn{
    position: absolute;
    top: 1rem;
    right:0.5rem;
    background-color: transparent;
    border: none;
    visibility: hidden;
}

.fav-item:hover > .del-btn{
    visibility: visible;
}


.meal-info-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.46);
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-info{
    width: 45vw;
    background-color: white;
    border-radius: 10px;
    padding: 1rem 0;
    /* padding: 1rem; */
    position: relative;
}

.meal-info img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.meal-info-body{
    height: 300px;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 1rem;
    
}

.meal-info h2{
    text-align: center;
    margin-bottom: 1rem;
}

.del-pop{
    position: fixed;
    top: 1rem;
    right:  1rem;
    background-color: transparent;
    font-size: 1.4rem;
    border: none;
    padding: 0.1rem;
}

.meal-info-container.hidden{
    visibility: hidden;
}


@media(max-width:780px){
    .meal-info img{
        height: 200px;
    }
    .meal-info-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .meal-info{
        width: 97vw;
        /* margin-right: 1rem; */
        /* padding: 1rem; */
        overflow: hidden;
    }
}